.page-container {
  width: 100%;
  height: 100%;
  background-color: var(--lightGreen);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.plants-container {
  width: 93vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  gap: 10px;
  padding-left: 20px;
}

.plants-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.plants-plantCard {
  overflow: visible;
}

.flex-column-center {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.plants-title {
  font-size: 32px;
  font-family: "Major Mono Display", monospace;
  color: var(--darkGreen);
  text-decoration: underline;
  margin: 20px 0 40px 20px;
}
